<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bridge_authorized"
        tools:targetApi="31">
        <activity
            android:name=".donor_annoucment_healthcenter"
            android:exported="false" />
        <activity
            android:name=".donor_annoucment_supplypoint"
            android:exported="false" />
        <activity
            android:name=".donor_annoucment_shelter"
            android:exported="false" />
        <activity
            android:name=".adminremovedauthorizedperson"
            android:exported="false" />
        <activity
            android:name=".donor_iban"
            android:exported="false" />
        <activity
            android:name=".donor_annoncment_recentnews"
            android:exported="false" />
        <activity
            android:name=".donor_annoucment_section"
            android:exported="false" />
        <activity
            android:name=".seerequest_item"
            android:exported="false" />
        <activity
            android:name=".depo_activity"
            android:exported="false" />
        <activity
            android:name=".SignUpDonor"
            android:exported="false" />
        <activity
            android:name=".donor_profile"
            android:exported="false" />
        <activity
            android:name=".each_item_clothes"
            android:exported="false" />
        <activity
            android:name=".each_item_hygene"
            android:exported="false" />
        <activity
            android:name=".card_activity"
            android:exported="false" />
        <activity
            android:name=".donor_form"
            android:exported="false" />
        <activity
            android:name=".SignInAuthorized"
            android:exported="false" />
        <activity
            android:name=".SignUpAuthorized"
            android:exported="false" />
        <activity
            android:name=".SignInDonor"
            android:exported="false" />
        <activity
            android:name=".donate_section"
            android:exported="false" />
        <activity
            android:name=".authorized_dashboard"
            android:exported="false" />
        <activity
            android:name=".donor_dashboard"
            android:exported="false" />
        <activity
            android:name=".aut_profile"
            android:exported="false" />
        <activity
            android:name=".admin_dashboard"
            android:exported="false" />
        <activity
            android:name=".seedonations_item"
            android:exported="false" />
        <activity
            android:name=".each_item_food"
            android:exported="false" />
        <activity
            android:name=".aut_add_annoucments"
            android:exported="false" />
        <activity
            android:name=".reguest_help_form"
            android:exported="false" />
        <activity
            android:name=".add_announcement"
            android:exported="false"
            android:label="@string/title_activity_add_announcement"
            android:theme="@style/Theme.Bridge_authorized" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>